/*
html, body {
  height: 100%;
  width: 100%;
}

input[type=text] {
      width: 300px;
    }
    input {
      padding: 6px;
    }
    body, html, input {
      font-family: sans-serif;
      font-size: 11pt;

    }
    form {
      margin: 20px 0;
    }

#plot {
  height: 100vh;
}
*/